<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.customer.order.dao.OrderDao">
    <resultMap id="orderMap" type="com.xzsd.app.customer.order.entity.OrderDetails">
        <id property="orderCode" column="order_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="orderSumPrice" column="sum_price"/>
        <result property="orderStatus" column="order_status"/>
        <result property="createTime" column="create_time"/>
        <result property="storeName" column="store_name"/>
        <result property="address" column="address"/>
        <result property="version" column="version"/>
        <collection property="goodsList" ofType="com.xzsd.app.customer.order.entity.Goods" select="orderGoods" column="{orderCode=order_code}">
            <id property="ordDetailsCode" column="ord_details_code"/>
            <result property="goodsCode" column="goods_code"/>
            <result property="goodsImg" column="goodsImg" jdbcType="VARCHAR" javaType="String"/>
            <result property="goodsName" column="goods_name"/>
            <result property="goodsIntro" column="goods_intro"/>
            <result property="sellPrice" column="sellprice"/>
            <result property="buyCount" column="buy_count"/>
        </collection>
    </resultMap>
<!--    查询订单列表-->
    <select id="listOrderByPage" parameterType="com.xzsd.app.customer.order.entity.OrderInfo" resultMap="orderMap">
        select
            `order`.order_code,
            `order`.sum_price,
            `order`.order_status,
            ifnull(#{keyWord},'') as keyWord,
            `order`.version
        from t_sys_order `order`
        where `order`.is_delete = 0 and `order`.cus_code = #{customerCode}
        <if test="orderStatus != -1">
            AND `order`.order_status = #{orderStatus}
        </if>
        order by `order`.create_time desc
    </select>
    <select id="orderGoods" parameterType="com.xzsd.app.customer.order.entity.OrderInfo" resultType="com.xzsd.app.customer.order.entity.Goods">
        select
            orderDetails.ord_details_code,
            orderDetails.buy_count,
            orderDetails.goods_code,
            goods.image_url as goodsImg,
            goods.goods_name,
            goods.goods_intro,
            goods.sellprice
        from t_sys_order_details orderDetails
        left join t_sys_goods goods on (orderDetails.goods_code = goods.goods_code and goods.is_delete = 0)
        where orderDetails.is_delete = 0  and orderDetails.order_code = #{orderCode}
        order by orderDetails.create_time desc , goods.create_time desc
    </select>
<!--    查询订单详情-->
    <select id="getOrder" parameterType="java.lang.String" resultMap="orderMap">
        select
        `order`.order_code,
        `order`.sum_price,
        `order`.order_status,
        `order`.create_time,
         store.store_name,
        CONCAT_WS('-',store.province,store.city,store.area,store.detailed_addr) as address,
        `order`.cus_code,
        `order`.version
        from t_sys_order `order`
        left join t_sys_store store on (`order`.store_code = store.store_code and store.is_delete = 0)
        where `order`.is_delete = 0 and `order`.order_code = #{orderCode}
        order by `order`.create_time desc
    </select>
<!--    修改订单状态-->
    <update id="updateOrderStatus" parameterType="com.xzsd.app.customer.order.entity.OrderInfo">
        update t_sys_order set
            order_status = #{orderStatus},
            updater = #{updater},
            update_time = now(),
            version = version + 1
        where is_delete = 0 and order_code = #{orderCode} and version = #{version}
    </update>
<!--    查询订单状态-->
    <select id="getOrderStatus" parameterType="java.lang.String" resultType="com.xzsd.app.customer.order.entity.OrderVO">
        select
        order_status as orderStatus,
        version
        from t_sys_order
        where is_delete = 0 and order_code = #{orderCode}
    </select>
<!--    新增商品评价-->
    <insert id="addGoodsEvaluate" parameterType="com.xzsd.app.customer.order.entity.OrderEvaluate">
        insert into t_sys_goods_evaluate(
            evaluate_code,
            order_code,
            goods_code,
            evaluate_class,
            content,
            is_delete,
            creater,
            create_time,
            updater,
            update_time,
            version
        )values
        <foreach collection="evaluateList" index="index" item="goodsEvaluate" open="" separator="," close="">
            (
                #{goodsEvaluate.evaluateCode},
                #{orderCode},
                #{goodsEvaluate.goodsCode},
                #{goodsEvaluate.evaluateClass},
                #{goodsEvaluate.content},
                #{isDelete},
                #{creater},
                now(),
                #{updater},
                now(),
                0
            )
        </foreach>
    </insert>
<!--    新增评价图片-->
    <insert id="addEvaluateImg" parameterType="com.xzsd.app.customer.order.entity.EvaluateImg">
        insert into t_sys_evaluate_img(
            evaimg_code,
            evaluate_code,
            sort_ordinal,
            image_url,
            is_delete,
            creater,
            create_time,
            updater,
            update_time,
            version
        )values
        <foreach collection="evaluateImgList" index="index" item="evaluateImg" open="" separator="," close="">
            (
                #{evaluateImg.evaImgCode},
                #{evaluateImg.evaluateCode},
                #{evaluateImg.sort},
                #{evaluateImg.imgUrl},
                #{evaluateImg.isDelete},
                #{evaluateImg.creater},
                now(),
                #{evaluateImg.updater},
                now(),
                0
            )
        </foreach>
    </insert>
    <!--    修改商品星级-->
    <update id="updateGoodsStar" parameterType="com.xzsd.app.customer.order.entity.EvaluateInfo" >
        <foreach collection="evaluateInfoList" item="item" open="" separator=";" close="" index="index">
            update t_sys_goods set
            star_class = (star_class + #{item.evaluateClass}) / 2
            where goods_code = #{item.goodsCode}
        </foreach>
    </update>
</mapper>
